.App{
    text-align: center;
    width: 100%; 
}

.header-container{
    margin-top: 5%;
}

.searchbar-container{
    margin-bottom: 5vh;
}
.searchbar{
    background-color: rgb(255, 245, 233);
    width: 50%;

    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    border-radius: 10em;
    transition: all .5s;
}
.searchbar:focus{
    background-color: rgb(255, 235, 210);
    border-color: #2a2a2a;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    outline: none;
}

.control{
    margin: auto 5% 10% 5%;
}
.control-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.books-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 4rem);
    gap: 4rem;
    grid-auto-flow: row;
    justify-items: center;
    justify-content: center;
    margin: auto 2rem 2rem 2rem;
}
.book{
    position: relative;

    width: 4rem;
    height: 8rem;
    margin: 5% auto 5% auto;

    box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-out;
}
.book-cover-container :hover{
    box-shadow: 6px 6px 17px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-out;
}
.book-cover-container{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}
.book-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book-title{
    margin: .4rem auto .8rem auto;
}
.book-menu{
    position:absolute;
    top: 0;
    left: 0;

    background-color: rgb(248, 180, 54);
    color: white;

    /* z-index: 999; */
}
.book-container{
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;
}
.book-content-container{
    position: relative;

    display: flex;
    flex-direction: column;
}
.book-description{
    max-width: 52ch;
    text-align: left;
    align-self: center;
    margin: auto 1rem auto 1rem;
    line-height: 1.5;
}
.book-content{
    max-width: 52ch;
    text-align: left;
    align-self: center;
    margin: auto 1rem auto 1rem;
    line-height: 1.5;
}

.delete-button{
    color: rgb(170, 0, 0);
}
.open-button{
    color: black;
    text-decoration: none;
}

.footer{
    margin: 15vh 20px auto auto;
    text-align: right;
}

.hidden{
    display: none;
    transition: all 0.2s ease-out;
}

.create-form-container{
    display: unset;
    margin: 5% auto 10% auto;
    /* border: 1px solid black; */
    transition: all 0.2s ease-out;

    
}
.create-container .create-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 1rem;
}
.edit-width{
    margin: 0 auto;
    width: 80%;
}
.create-content{
    min-height: 25vh;
}
.create-input{
    background-color: rgb(255, 245, 233);

    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    border-radius: 2em;
    transition: all .5s;
}
.create-input:focus{
    background-color: rgb(255, 235, 210);
    border-color: #2a2a2a;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    outline: none;
}
.create-button{
    margin: 0 auto;
    background-color: rgb(248, 180, 54);
    color: white;
    width: 8rem;
    height: 2rem;
    border-radius: 2em;
}

.link{
    color: black;
}
.edit-link{
    color: rgb(151, 151, 0);
    text-decoration: none;
}
.home-link{
    text-decoration: none;
    color: rgb(42, 0, 42);
    font-family: 'Courier New', Courier, monospace;
}

.successful-edit{
    display:block;
    position: absolute;
    top: 5vh;
    left: 0;
    padding: .5rem 1rem .5rem 1rem;
    border: 2px solid rgba(0, 0, 0, 0.198);
    background-color: rgb(203, 148, 255);
    opacity: .8;

    animation-name: slide;
    animation-duration: .5s;
}
@keyframes slide{
    from{
        left: -30vw;
    }
    to{
        left: 0;
    }
}

hr{
    width: 100%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
button{
    list-style: none;
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 247, 229);
    transform: scale(1.2);
}
.control-container button{
    background-color: rgb(248, 180, 54);
    color: white;
    max-width: 10rem;
    height: 2rem;
    border-radius: 2em;
}